* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.what-h {
    position: absolute;
    top: 20%;
    left: 7%;
    color: white;
}

.what-p {
    position: absolute;
    top: 27%;
    left: 7%;
    color: white;
}

.how-h {
    position: absolute;
    top: 40%;
    left: 7%;
    color: white;
}

.how-p {
    position: absolute;
    top: 47%;
    left: 7%;
    color: white;
}

.who-h {
    position: absolute;
    top: 60%;
    left: 7%;
    color: white;
}

.who-p {
    position: absolute;
    top: 67%;
    left: 7%;
    color: white;
}

.logo-abt {
    position: absolute;
    right: 10rem;
    top: 9rem;
    height: 25rem;
    width: 25rem;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color:#FFF;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    bottom: -6px;
    background: #FFF;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.navigation .btnLogin-popup {
    width: 130px;
    height: 50px;
    background-color: transparent;
    border: 2px solid #FFF;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #FFF;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.navigation .btnLogin-popup:hover {
    background: #FFF;
    color: #162938;

}
