@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("pictures/gym-motivation-movie-ruu7q29ozktj58q7.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    flex-direction: column;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo {
    font-size: 2em;
    color: #FFF;
    user-select: none;
}

.navigation {
    display: flex;
    align-items: center;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #FFF;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation form {
    position: relative;
    margin-left: auto;
}

.navigation a::after, .navigation form::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #FFF;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after, .navigation form:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.navigation .btnLog {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #FFF;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #FFF;
    font-weight: 500;
    transition: .5s;
}

.navigation .btnLog:hover {
    background: #FFF;
    color: #162938;
}
