<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Body & Balance</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        <strong>Message:</strong> {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}

    <header>
        <h2 class="logo">Logo</h2>
        <nav class="navigation">
            <a href="{% url 'diet_calculator' %}">Diets</a>
            <a href='#'>Calculator</a>
            <a href="about">About</a>

            {% if user.is_authenticated %}
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button class="btnLog" type="submit">Log Out</button>
            </form>

            {% else %}
            <button class="btnLog" onclick="location.href='login'" type="submit">Log In</button>
            {% endif %}
        </nav>
    </header>
</body>

</html>
